.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    .form-wrapper{
       background-color: white;
       padding: 30px 60px;
       border-radius: 15px;
       
       .title{
          text-align: center;
          padding-bottom: 15px;
       }
    
       form{
          display: flex;
          gap: 5px;
          justify-content: center;
          flex-direction: column;
          width: fit-content;
          
          label{
            font-weight: 600;
          }

          input{
             border: none;
             border-bottom: 1px solid rgb(65, 65, 65);
          }
          
    .file-upload-label{
      display: flex;
      align-items: center;
      font-size: small;
      padding: 10px 0px;
      cursor: pointer;
    
       #file-upload{
             display: none;
          }
    }
    
     .submit-button{
        padding: 5px;
        background-color: black;
        color: white;
        border-radius: 30px;
        margin: 5px;
     }
          
    }
    
    }
    }

    .home{
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

      .container{
         border-radius: 15px;
         width: 65%;
         height: 80%;
         display: flex;
         overflow: hidden;
      }

      .sidebar{
         flex: 1;
         border-right: 1px solid black;
         background-color: #2E4756;
         border-radius: 15px;
         overflow: hidden;

         .navbar{
             display: flex;
             flex-wrap: wrap;
             align-content: center;
             justify-content: space-between;
             align-items: center;
             background-color: #253946;
             padding: 15px;

             h4{
               color: white;
             }

             .user{
               display: flex;
               align-items: center;
               flex-wrap: wrap;
               align-content: center;
               gap: 5px;
               color: whitesmoke;

               img{
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  object-fit: cover;
               }

               button{
               border-radius: 5px;
               background: #253946;
               box-shadow:  20px 20px 60px #1f303c,
             -20px -20px 60px #2b4251;
               padding: 5px;
               font-weight: lighter;
               cursor: pointer;
               color: gray;
             }

             }
             
         }

         .search {
            border-bottom: 1px solid gray;
    
            .searchForm {
              padding: 10px;
    
              input {
                background-color: transparent;
                border: none;
                color: white;
                outline: none;
    
                &::placeholder {
                  color: lightgray;
                }
              }
            }
          }
      }

      .chat{
         flex: 2;
         border-radius: 15px;
         overflow: hidden;
         background-color: #3C7A89;
      }
    }